<style type="text/css">
#test{}
body{margin:0}

#hlist {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    height:50px;
}


#hli {
    float: left;
}

#hli a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
#hli button {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    border:none;
    background:none;
    font-size:15px;
}

#hli a:hover {
    background-color: #111111;
    cursor:pointer;
}
#hli button:hover {
    background-color: #111111;
    cursor:pointer;
}
#buttonlist{
	list-style-type: none;
    margin: 0;
    padding: 0;
    
}
#bli{
	margin:10px;
}
.block{
float:left;
margin-top: 15px;
margin-right: 10px;
color:white;
}
#content{
width: 350px;
float:left;
margin-left: 150px;
margin-right: auto;
}
#content1{
width: 500px;
display: block;
margin-left: auto;
margin-right: auto;
}
#content2{
float:right;
margin-top:250px;
margin-right:550px;
color:white;
font-weight: bold;
font-family: sans-serif;

}

#footer{
 	position:fixed;
    bottom:0;
    background-color:#333;
    width:100%;
    text-align:center;
}
#footer p{
display: inline-block;
color:white;

}
#username{
padding: 16px;
font-weight:bold;
float:right;
color:white;
}
button{
    cursor:pointer;
    	padding:5px;
	border-radius: 4px;
	background-color: white;
	border: solid 1px black;
	color: #555;	
	font-size: 15px;
	width: 55px;
}
button:HOVER{
	padding:5px;
	border-radius: 4px;
	background-color: #555;
	border: solid 1px white;
	color: white;
}

#logbody{
	background-image: url(http://cdn.wallpapersafari.com/80/25/l9Hw7q.jpg);
	font-family: sans-serif;
}
.logul{
	list-style-type: none;
	margin:5px;
	
}
.logli{
margin:8px;
}
.logli input{
	border-radius: 4px;
}

.logli a{
	color:silver;
}

#linkbutt{
	width: 75px;
}
.title{
	float: left;
	
	margin-top: 250px;
	margin-left: 550px;
	color:#555;
	font-size: 30;
}
hr{
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #555;
    margin: 1em 0;
    padding: 0;
}
button:DISABLED {
	padding:5px;
	border-radius: 4px;
	background-color: #555;
	border: solid 1px white;
	color: white;
	cursor:default;
	opacity: 0.6;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float: left;
}
.switch input {display:none;}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9F9F9F;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #555;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.switchlabl{
	margin: 10px 50px 0px 0px;
	float: left; 
}

</style>